/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.group::before,
.group::after {
  content: "";
  display: table;
}
.group::after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  header
  ========================================
*/
#header {
	background: url(img/bg.png) no-repeat top center;
	width: 100%;
	height: 800px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

#header nav {
	width: 1170px;
	height: 100px;
	margin: 0 auto;
}

#header .logo {
	color: #fff;
	float: left;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.92px;
	margin-top: 15px;
}

#header .logo:hover,
#header .logo:active {
	color: #ff4081;
}

#header nav ul {
	float: right;
	margin: 0;
}

#header nav ul li {
	display: inline-block;
	margin-left: 13px;
}

#header nav ul a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	padding: 30px 0;
}

#header nav ul a:hover,
#header nav ul a:active {
	border-bottom: 4px solid #ff4081;
}

#header nav ul li span{
	margin-left: 13px;
	margin-right: 10px;
}

#header p {
	opacity: 0.7;
	font-family: Montserrat;
	font-size: 28px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 1.4px;
	margin-top: 187px;
}

#header h1 {
	width: 810px;
	font-family: "Montserrat - Black";
	font-size: 42px;
	font-weight: 700;
	letter-spacing: 2.1px;
	margin: 50px auto 98px;
}

#header .header-btn {
	display: block;
	width: 170px;
	height: 45px;
	margin: 0 auto;
	box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
	border-radius: 22px;
	background-color: #303f9f;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	text-decoration: none;
}

/*
  ========================================
  end header
  ========================================
*/

#footer {
	background-color: #303030;
}

#footer img {
	width: 12.5%;	
}

#footer div {
	width: 1170px;
	margin: 0 auto;
}

#footer section {
	background: url(img/2-layers.png) no-repeat top center;
	width: 100%;
	height: 200px;
	margin-top: -3px;
	color: #fff;
	font-family: "Montserrat - Black";
	font-size: 42px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 2.1px;
}

#footer section p {
	display: inline-block;
	margin-top: 80px;
}

#footer section form {
	margin-top: 75px;
}

#footer nav,
#footer div ul li {
	display: inline-block;
} 

#footer nav {
	margin-top: 30px;
	margin-bottom: 30px;
}

#footer div ul a {
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	margin-right: 38px;
	font-size: 13px;
}

#footer div form {
	float: right;
}
/*
  ========================================
  footer
  ========================================
*/


