/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.group::before,
.group::after {
  content: "";
  display: table;
}

.group::after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  start header
  ========================================
*/
#header {
	background: url(img/bg.png) no-repeat top center;
	width: 100%;
	height: 800px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

#header nav {
	width: 1170px;
	height: 100px;
	margin: 0 auto;
}

#header .logo {
	color: #fff;
	float: left;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.92px;
	margin-top: 21px;
}

#header .logo:hover,
#header .logo:active {
	color: #ff4081;
}

#header nav ul {
	float: right;
	margin: 0;
}

#header nav ul li {
	display: inline-block;
	margin-left: 11px;
}

#header nav ul a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	padding: 29px 0;
	letter-spacing: -0.1px;
}

#header nav ul a:hover,
#header nav ul a:active {
	margin-bottom: -1px;
	border-bottom: 3px solid #ff4081;
}

#header nav ul li span{
	margin-left: 13px;
	margin-right: 10px;
}

#header p {
	opacity: 0.7;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.4px;
	margin-top: 186px;
}

#header h1 {
	width: 810px;
	font-family: "Montserrat - Black";
	font-size: 42px;
	font-weight: 800;
	letter-spacing: -2.0px;
	margin: 38px auto 98px;
	line-height: 49px;
}

#header button {
	width: 170px;
	height: 45px;
	margin-top: -7px;
	box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
	border-radius: 22px;
	background-color: #303f9f;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 2.0px;
	text-decoration: none;
}

#header button:hover,
#header button:active {
	color: #FF0;
	background-color: #1E90FF;
}
/*
  ========================================
  end header
  ========================================
*/

/*
  ========================================
  start content
  ========================================
*/
#content {
	width: 1170px;
	margin: 90px auto 0;
	/*height: 1408px;*/
}

main,
aside,
article,
.open-post li  {
	display: inline-block;
}

main {
	width: 820px;
	margin-right: 15px;
}


aside {
	width: 330px;
	background-color: grey;
}

article {
	width: 260px;
	margin-top: 87px;
}

.post {
	border: 1px solid #dedede;
	border-radius: 4px;
}

.open-post {
	background: url(img/Layer_48.png) no-repeat top center;
	height: 420px;
}

.all-post-1 {
	background: url(img/Layer_53.png) no-repeat top center;
	height: 160px;
}

.all-post-2 {
	background: url(img/Layer_54.png) no-repeat top center;
	height: 160px;
}

.all-post-3 {
	background: url(img/Layer_55.png) no-repeat top center;
	height: 160px;
}

.open-post ul {
	display: block;
}

.post h3 {
	font-weight: 800;
	font-size: 18px;
	letter-spacing: -0.32px;
	margin: 17px 0 9px 15px;
}

.all-post h4 {
	font-weight: 600;
	font-size: 15px;
	letter-spacing: -0.82px;
	margin: 11px 18px 0;
	line-height: 23px;
}

.post p {
	font-weight: 400;
	font-size: 17px;
	letter-spacing: -0.5px;
	margin: 0 17px;
	line-height: 25px;
}

.all-post p {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: -0.7px;
	margin: 8px 17px;
	line-height: 21px;
}

.autor {
	margin-top: 14px;
	margin-bottom: 20px;
	border-top: 1px solid #dedede;
	padding-top: 21px;
}

.all-post .autor {
	margin-top: 24px;
	margin-bottom: 20px;
	border-top: 1px solid #dedede;
	padding-top: 16px;
}

.autor div {
	display: inline-block;
	width: 90%;
  margin-left: 20px;
}

.autor img {
	float: left;
	margin-left: -1px;
}

.autor a {
	float: right;
	width: 3%;
	margin-top: 15px;
  margin-right: -2px;
}

.all-post .autor a {
	float: right;
	width: 3%;
	margin-top: -24px;
	margin-right: 14px;
}

.autor p {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.15px;
	margin: 2px 0 0px 59px;
}

.all-post .autor p {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
	margin: 4px 0 0px 58px;
}

.autor span {
	font-size: 11px;
  margin-left: 10px;
	letter-spacing: 0.55px;
}

.all-post .autor span {
	font-size: 11px;
  margin-left: 10px;
	letter-spacing: 0.75px;
}

.golova-ne-varit {
	margin-right: 15px;
}

.post h4 {
	font-weight: 600;
	font-size: 15px;
	letter-spacing: -0.82px;
	margin: 11px 18px 0;
	line-height: 23px;
}

/*
  ========================================
  start footer
  ========================================
*/



/*
  ========================================
  start footer
  ========================================
*/
#footer {
	background-color: #303030;
}

#footer img {
	width: 12.5%;	
}

#footer div {
	width: 1170px;
	margin: 0 auto;
}

#footer section {
	background: url(img/2-layers.png) no-repeat top center;
	width: 100%;
	height: 200px;
	margin-top: -3px;
	color: #fff;
	font-family: "Montserrat - Black";
	font-size: 42px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 2.1px;
}

#footer section p {
	display: inline-block;
	margin-top: 80px;
	font-size: 40px;
	letter-spacing: 1.6px;
	font-weight: 700;
}

#footer section form {
	margin-top: 75px;
}

#footer nav,
#footer div ul li {
	display: inline-block;
} 

#footer nav {
	margin-top: 32px;
	margin-left: -1px;
	margin-bottom: 34px;
}

#footer div ul a {
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	margin-right: 36px;
	font-size: 11px;
	letter-spacing: 0.06px;
}

#footer div form {
	float: right;
}
/*
  ========================================
  end footer
  ========================================
*/


