@import "start-css.less";

/** {
	border: 1px solid #555;
}*/

.reset();

.wrapper{
    .wrapper();
}

.header {
	
	&__user-fon {
		background-color: #000;
	}

	&__user-bar {
		.row-flex();
		justify-content: space-between;
		color: #444;
		select {
			background: inherit;
			border: none;
		}
		a {
			color: #444;
		}
		&--social {
			.row-flex();
		}

		&--user {
			.row-flex();
		}
	}



	&__slider {
		text-align: center;
		min-height: 800px;
	 	background: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)),
	 				url("../img/Layer_66.png") no-repeat center/cover;
		position: relative;
		color: #fff;
		a {
			color: #fff;
		}
		&--text {

		}
		&--title {

		}
		&--button {

		}
	}

	&__nav {
		.row-flex();
		justify-content: space-between;
		&--logo {

		}
		&--menu {
			.row-flex();
		}

		&--user {
			.row-flex();
		}
	}

}

.sort {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	text-transform: uppercase;
	padding: 20px 0;
	.wrapper {
		.row-flex();
	}
	&__text {

	}

	&__menu {
		.row-flex();
		li {
			margin-left: 10px;
		}
		&--style {

			color: #666;
			border-radius: 20px;
			padding: 5px 15px;
			background-color: #999;
			&:hover, &-aktive {
				/*outline: 2px solid blue;
				outline-offset: -2px;*/
				border: 2px solid blue;
				background-color: #fff;
				color: blue;
			}
		}
	}
}

.content {
	background-color: #999;
	.wrapper {
		.row-flex();
		justify-content: space-between;
	}
}


.post-space {
	max-width: 820px;
}

.post {
	background-color: #fff;
	margin-top: 15px;

	&__foto {

	}

	&__info {

	}

	.autor {
		.row-flex();
		justify-content: space-between;
		&__info {
			.row-flex();
		
		}
		
	}
}

.horizont-post {
	.post {
		display: flex;
	}
}

.horizont-post-3 {
	.row-flex();
	justify-content: space-between;
	.post {
		max-width: 258px;
	}
	
}

.horizont-post-2 {
	.row-flex();
	justify-content: space-between;
	.post {
		max-width: 400px;
	}
	
}

.arrow-more {
	.row-flex();
	justify-content: flex-end;
	padding: 20px 0;
}

.aside {
	background-color: #fff;
	padding: 20px;
	max-width: 300px;
	margin-top: 15px;

	p {
		text-align: center;
	}

	&__categories {

		&--line {
			display: flex;
			justify-content: space-between;
		}
		
	}

	&__subcribe {

		&--buttom {
			
		}
	}

	&__social {
		.row-flex();
		justify-content: space-between;
	}

	&__widget {
		&--menu {
			display: flex;
		}
	}

	&__post {
		display: flex;
		&--wrapper{
			flex-grow: 1;
		}

		&--info {
			.row-flex();
			justify-content: space-between;
		}
	}

	&__tags {
		&--elemets {
			.row-flex();
			max-width: 280px;
			li {
				padding: 5px 10px;
				background-color: #ddd;
				margin-right: 10px;
			}
		}
	}
}

.gallery {
	.row-flex();
	div {
		width: 12.5%;
	}
}

.footer {
	&__newsletter {
		background: url("../img/bg_footer.png") no-repeat center/cover;
		.wrapper {
			.row-flex();
			justify-content: space-between;
			padding: 60px 0;
			margin-top: -4px;
		}

		&--text {
			color: #fff;
			size: 36px;
		}

		&--form {
			
		}

		&--label {

		}
		&--input {
			background: inherit;
			border-radius: 20px;
			padding: 5px 10px;
			border: 1px solid blue;
		}
		&--butn {
			background: inherit;
			border: none;
			border-radius: 20px;
			background-color: blue;
			padding: 5px 10px;
			margin-left: 20px;
		}

	}

	&__all {
		.wrapper {
			.row-flex();
			justify-content: space-between;
		}
		background-color: #222;
	}

	&__nav {
		.wrapper, &--menu{
			.row-flex();
			justify-content: space-between;
		}
		background-color: #333;
		&--menu {
			min-width: 600px;
			flex-basis: 550px;
		}

		&--search {
			&:after {
				.clearfix()
			}
			form {
				width: auto;
				float: right;
				margin-right: 30px;
			}
			input {
				width: 250px;
				height: 42px;
				padding-left: 15px;
				border-radius: 42px;
				border: 2px solid #324b4e;
				background: #F9F0DA;
				outline: none;
				position: relative;
				transition: .3s linear;
			}
			input:focus {
				width: 300px;
			}
			button {
				width: 42px;
				height: 42px;
				background: none;
				border: none;
				position: absolute;
				top: -2px;
				right: 0;
			}
			button:before{
				content: "\f002";
				font-family: FontAwesome;
				color: #324b4e;
			}
		}
	}


}

