@import "start-css.less";

.reset();

.wrapper{
    .wrapper();
}


.header {
	&__user-bar {
		.row-flex();
		justify-content: space-between;
		&--social {
			.row-flex();
		}

		&--user {
			.row-flex();
		}
	}

	&__nav {
		.row-flex();
		justify-content: space-between;
		&--logo {

		}
		&--menu {
			.row-flex();
		}

		&--user {
			.row-flex();
		}
	}

	&__slider {
		text-align: center;
		&--text {

		}
		&--title {

		}
		&--button {

		}
	}

}

.sort {
	.wrapper {
		.row-flex();
	}
	&__text {

	}

	&__menu {
		.row-flex();
	}
}