/** {
	border: 1px solid #555;
}*/

a,
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.header__user-fon {
  background-color: #000;
}

.header__user-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #444;
  padding: 11px 0 9px;
}

.header__user-bar select {
  background: inherit;
  border: none;
}

.header__user-bar a {
  color: #444;
}

.header__user-bar--social {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__user-bar--social li {
  margin-right: 14px;
}

.header__user-bar--social li a:hover {
  color: #fff;
}

.header__user-bar:hover {
  color: #fff;
}

.header__user-bar--user {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 2px;
  opacity: 0.5;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 0.8px;
}

.header__user-bar--user i {
  font-size: 16px;
}

.header__user-bar--user span {
  margin-left: 5px;
}

.header__user-bar--user form {
  margin-left: 15px;
  padding-left: 11px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.header__slider {
  text-align: center;
  min-height: 800px;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url("../img/Layer_66.png") no-repeat center / cover;
  background: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url("../img/Layer_66.png") no-repeat center / cover;
  position: relative;
  color: #fff;
}

.header__slider a {
  color: #fff;
}

.header__slider--text {
  opacity: 0.7;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 1.4px;
  margin-bottom: 14px;
}

.header__slider--title {
  font-family: Montserrat, sans-serif;
  font-size: 41px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  line-height: 51px;
  max-width: 860px;
  margin: 0 auto 42px;
  padding-left: 5px;
}

.header__slider--button {
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  background-color: #303f9f;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 27px 12px;
}

.header__slider--button:hover {
  color: #FF0;
  background-color: #1E90FF;
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 20px;
  -webkit-box-align: top;
  -webkit-align-items: top;
  align-items: top;
  margin-bottom: 223px;
}

.header__nav--logo {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.header__nav--logo:hover {
  color: #ff4081;
}

.header__nav--menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 770px;
  height: 30px;
  margin: 5px 0 0px 84px;
}

.header__nav--menu li:hover {
  padding-bottom: 24px;
  border-bottom: 4px solid #ff4081;
}

.header__nav--menu a {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding-right: 21px;
  position: relative;
}

.header__nav--menu img {
  margin-left: 10px;
  position: absolute;
  top: 5px;
}

.header__nav--user {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 18px;
}

.header__nav--user li {
  border-right: 1px solid #777;
  padding: 5px 15px;
}

.header__nav--user li:last-child {
  border-right: none;
}

.header__nav--user li a:hover {
  color: #ff4081;
}

.header .autor {
  margin-top: 90px;
}

.header .autor a {
  opacity: 0.7;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.header .autor a:last-child {
  margin-left: 28px;
}

.header .autor a i {
  margin-top: 35px;
}

.header .autor__info--name {
  margin: 15px 0 6px;
  opacity: 0.87;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.header .autor__info--data {
  opacity: 0.54;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.content {
  overflow: hidden;
  background-color: #f5f5f5;
}

.content .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.post-space {
  max-width: 820px;
  margin-top: 30px;
}

.post {
  background-color: #fff;
  margin-bottom: 19px;
  border-radius: 4px;
}

.post__foto {
  position: relative;
}

.post__foto:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(bottom, #9f9f9f 0%, #c7c7c7 15%, #d5d5d5 20%, #fff 30%);
  background: linear-gradient(to top, #9f9f9f 0%, #c7c7c7 15%, #d5d5d5 20%, #fff 30%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.2;
}

.post__foto .bl_cl,
.post__foto span {
  position: absolute;
  font-size: 13px;
  bottom: 20px;
  right: 20px;
  color: #fff;
}

.post__foto span {
  left: 20px;
}

.post__info {
  padding: 12px 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.post__info h3,
.post__info h4 {
  opacity: 0.87;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.3px;
  margin-bottom: 8px;
}

.post__info h4 {
  font-size: 16px;
}

.post__info p {
  opacity: 0.87;
  color: #000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.22px;
  line-height: 25px;
}

.post .autor {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.post .autor__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 22px 20px;
}

.post .autor__info--name {
  opacity: 0.87;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

.post .autor__info--data {
  opacity: 0.54;
  color: #212121;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.post .autor a {
  margin-right: 20px;
}

.post .autor .wrapper-autor {
  padding: 5px 10px;
}

.sort {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  padding: 24px 0 22px;
  background-color: #fff;
  opacity: 0.87;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-variant: small-caps;
}

.sort .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  justify-content: left;
}

.sort__text {
  font-weight: 700;
}

.sort__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sort__menu li {
  margin-left: 20px;
}

.sort__menu--style {
  color: #555;
  border-radius: 20px;
  padding: 7px 28px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

.sort__menu--style:hover,
.sort__menu--style-aktive {
  border: 1px solid #6e7cc7;
  background-color: #fff;
  color: #6e7cc7;
}

.horizont-post .post {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 16px;
}

.horizont-post .post__foto img {
  height: 100%;
}

.horizont-post .wrapper-post__info {
  max-width: 560px;
}

.horizont-post .post__info p {
  opacity: 0.87;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.56px;
}

.horizont-post .autor__info {
  padding: 12px 21px;
}

.horizont-post-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.horizont-post-3 .post {
  max-width: 260px;
}

.horizont-post-3 h4 {
  font-size: 14px;
  line-height: 21px;
}

.horizont-post-3 p {
  line-height: 20px;
  padding-top: 5px;
  font-size: 14px;
}

.horizont-post-3 .autor__info {
  padding: 25px 20px;
}

.horizont-post-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.horizont-post-2 .post {
  max-width: 400px;
}

.horizont-post-2 h4 {
  font-size: 18px;
  line-height: 21px;
}

.horizont-post-2 p {
  line-height: 26px;
  font-size: 15px;
}

.horizont-post-2 .autor__info {
  padding: 19px 20px;
}

.horizont-post-2 .post__info {
  padding: 6px 20px;
}

.arrow-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-top: 20px;
  margin-bottom: 43px;
}

.arrow-more .fas {
  padding: 10px 8px 7px;
  font-size: 16px;
  width: 25px;
  height: 23px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.arrow-more .fas:hover {
  opacity: 0.7;
}

.arrow-more i {
  margin-left: 10px;
}

.arrow-more a {
  color: #303f9f;
}

.arrow-more a:hover {
  color: #048;
  opacity: 0.7;
}

.aside {
  background-color: #fff;
  padding-left: 40px;
  max-width: 270px;
  margin-top: 30px;
  position: relative;
}

.aside p {
  text-align: center;
  position: relative;
  margin-bottom: 8px;
}

.aside p:after,
.aside p:before {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: calc(51%);
}

.aside p:after {
  left: 0;
}

.aside p:before {
  right: 0;
}

.aside h5 {
  color: green;
  border-bottom: 1px solid #2962ff;
  color: #3f51b5;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 7px;
  margin-bottom: 16px;
}

.aside__categories {
  margin-bottom: 43px;
}

.aside__categories--line {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.aside__categories--line:last-child {
  border-bottom: none;
}

.aside__categories--line a {
  color: #000;
}

.aside__categories--line span {
  opacity: 0.87;
  color: #000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 900;
  letter-spacing: -0.9px;
}

.aside__subcribe {
  margin-bottom: 34px;
}

.aside__subcribe h5 {
  padding-bottom: 5px;
}

.aside__subcribe input {
  padding: 9px 13px;
  vertical-align: middle;
}

.aside__subcribe li {
  margin: 10px 0;
}

.aside__subcribe--buttom {
  text-align: center;
  width: 100%;
  margin-top: -2px;
  padding: 9px 87px;
  border-radius: 4px;
  background-color: #3f51b5;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 0.2px;
  border: none;
  margin-bottom: 15px;
}

.aside__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.aside__social .fab {
  padding: 10px 8px 7px;
  font-size: 16px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.aside__social .fab:hover {
  opacity: 0.7;
}

.aside__social .fa-facebook-f {
  background-color: #3b5999;
}

.aside__social .fa-twitter {
  background-color: #55acee;
}

.aside__social .fa-vk {
  background-color: #4c75a3;
}

.aside__social .fa-pinterest-p {
  background-color: #ff2e56;
}

.aside__social .fa-tumblr {
  background-color: #34465d;
}

.aside__social .fa-dribbble {
  background-color: #ea4c89;
}

.aside__social li {
  margin-right: 6px;
}

.aside__social li:last-child {
  margin-right: 0;
}

.aside__widget--menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border: 1px solid #3f51b5;
  border-radius: 4px;
  margin-bottom: 15px;
}

.aside__widget--menu li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  background-color: #3f51b5;
}

.aside__widget--menu li:hover {
  background-color: #fff;
}

.aside__widget--menu li a {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 0.8px;
}

.aside__widget--menu li a:hover {
  color: #3f51b5;
}

.aside__post {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #f5f5f5;
  padding: 6px 0;
  margin-bottom: 14px;
}

.aside__post:last-child {
  border-bottom: none;
}

.aside__post--foto {
  -webkit-flex-basis: 176px;
  flex-basis: 176px;
}

.aside__post--wrapp {
  margin-bottom: 35px;
}

.aside__post--info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.aside__post--info data,
.aside__post--info .fas {
  font-size: 12px;
}

.aside__post--info i {
  vertical-align: top;
}

.aside__tags--elemets {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 270px;
}

.aside__tags--elemets li {
  padding: 5px 15px;
  background-color: #eee;
  margin-right: 17px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.aside__tags--elemets a {
  font-size: 12px;
  color: #000;
  opacity: 0.87;
  font-family: "Open Sans";
  font-weight: 400;
  letter-spacing: 1px;
}

.aside:after {
  content: "";
  display: block;
  width: 50vw;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 100%;
  top: 0;
}

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery div {
  width: 12.5%;
}

.footer {
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer__news-letter {
  background: url("../img/bg_footer.png") no-repeat center / cover;
}

.footer__news-letter .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 77px 0;
  margin-top: -4px;
}

.footer__news-letter--text {
  font-family: Montserrat, sans-serif;
  font-size: 42px;
  font-weight: 900;
  line-height: 5px;
}

.footer__news-letter--input {
  background: rgba(30, 30, 30, 0.5);
  border-radius: 25px;
  padding: 12px 19px;
  color: rgba(188, 188, 188, 0.9);
  border: 1px solid rgba(188, 188, 188, 0.8);
  margin-right: 24px;
}

.footer__news-letter--butn {
  color: #fff;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 50px;
  background-color: #303f9f;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding: 13px 35px;
  border: none;
  outline: none;
}

.footer__nav {
  padding: 22px 0;
  background-color: #333;
}

.footer__nav .wrapper,
.footer__nav--menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.footer__nav--menu {
  min-width: 640px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.footer__nav--search {
  border: 1px solid rgba(188, 188, 188, 0.8);
  padding: 2px;
  border-radius: 50px;
  margin-right: -122px;
}

.footer__nav--search input {
  padding: 4px 10px;
  max-width: 180px;
  border: none;
  outline: none;
  vertical-align: middle;
  background: inherit;
  color: rgba(188, 188, 188, 0.9);
}

.footer__nav--search button {
  color: rgba(188, 188, 188, 0.8);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: inherit;
}

.footer__nav--search select {
  background: inherit;
}

.widget {
  background-color: #222;
  padding-bottom: 68px;
}

.widget h6 {
  font-size: 20px;
  margin: 44px 0 21px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
}

.widget .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.widget .wrapper div {
  max-width: 270px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.widget__social h6 {
  margin-top: 12px;
  margin-bottom: 10px;
}

.widget__menu--hiden {
  display: none;
}

.widget__menu li {
  border-radius: 4px;
  border: 1px solid rgba(188, 188, 188, 0.8);
  opacity: 0.7;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.7px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.widget__menu--wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 4px 14px;
}

.widget__menu--wrapp i {
  padding-top: 11px;
}

.widget__menu--open {
  padding: 4px 11px;
  border-top: 1px solid rgba(188, 188, 188, 0.8);
}

.widget__menu--open li {
  border: none;
  margin-bottom: 3px;
  opacity: 0.5;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.7px;
}

.widget__menu--open li:last-child {
  margin-bottom: 0;
}

.widget__news-letter input,
.widget__news-letter textarea {
  background: inherit;
  border-radius: 4px;
  border: 1px solid rgba(188, 188, 188, 0.8);
  width: 248px;
  padding: 12px 10px;
  margin-bottom: 11px;
}

.widget__news-letter--butn {
  text-align: center;
  width: 100%;
  background-color: #333;
  padding: 8px 0px;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  font-variant: small-caps;
  letter-spacing: 0.9px;
}

.widget__flickr {
  margin-right: 2px;
  margin-bottom: 2px;
}

.search {
  max-width: 100%;
  background-color: #ccc;
  padding: 2px;
  margin: 25px 0 30px;
  border-radius: 50px;
}

.search input {
  padding: 5px 10px;
  margin-left: 7px;
  max-width: 219px;
  border: none;
  outline: none;
  vertical-align: middle;
  background: inherit;
}

.search button {
  color: #fff;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #ff4081;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
}

.shadow {
  display: inline-block;
  margin: 20px 0;
}

.text {
  color: #000;
  background: -webkit-linear-gradient(45deg, #000 1%, #666 33%, #aaa 66%, #fff);
  background: linear-gradient(45deg, #000 1%, #666 33%, #aaa 66%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.twitts {
  font-size: 13px;
}

.twitts li {
  margin-bottom: 16px;
}

.twitts__icon {
  font-size: 20px;
  margin: 0px 11px;
  color: #55acee;
}

.twitts__massege {
  opacity: 0.7;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 21px;
  font-size: 13px;
  letter-spacing: 0.52px;
  letter-spacing: 0.56px;
}

.twitts__wrapp--top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-size: 16px;
  margin: 8px 0 0 0;
}

.twitts__wrapp--bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  opacity: 0.5;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.twitts__wrapp--bottom i {
  margin-left: 5px;
}

.twitts__wrapp--bottom li {
  text-decoration: underline;
  margin-left: 5px;
}
/*# sourceMappingURL=styles.css.map */
