
/*reset css*/
a,body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img,abbr{
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var{
    font-style: normal;
    font-weight: normal;
}
ul li{
    list-style: none;
}
caption,th{
    text-align: left;
}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
}
sup{
    vertical-align: text-top;
}
sub{
    vertical-align: text-bottom;
}
input,textarea,select{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
legend{
    color: #000;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
    display: block;
}
img{
    max-width: 100%;
    height: auto;
}
/*reset css end*/


/*header css*/
.header {
    color: #f9fafe;
    text-transform: uppercase;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg-header.jpg") no-repeat center / cover;
    padding-top: 38px;
    padding-bottom: 30px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    max-width: 1494px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    align-self: center;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.64px;
    margin-top: -2px;
    margin-bottom: 203px;
}

.header__nav li{
    padding: 9px 37px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.header__nav li:first-child {
    margin-right: -30px;
}

.header__nav li:last-child,
.header__nav li:hover {
    border: 1px solid #f9fafe;
    border-radius: 5px;
}

.header__baner {
 
    text-align: center;
}

.header__baner--title,
.baner__title {
    color: #f9fafe;
    font: 700 72px Raleway, sans-serif;
    letter-spacing: 5.38px;
    margin-left: 6px;
    margin-bottom: 10px;
}

.header__baner--text,
.baner__text {
    color: #f9fafe;
    font: 400 30px/22px "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 93px;
}

.search {
    max-width: 770px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 271px;
    position: relative;
    color: #717171;
    font: 400 14px/22px Raleway, sans-serif;
    text-transform: uppercase;
}

.search input {
    width: 100%;
    text-transform: uppercase;
    height: 58px;
    padding: 0 200px 0 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    letter-spacing: 0.4px;
}

.search button {
    color: #fff;
    letter-spacing: 0.56px;
    position: absolute;
    width: 200px;
    height: 58px;
    border-radius: 0 5px 5px 0;
    background-color: #e7434e;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
    font-weight: 400;
}

.search .fa-ship {
    margin-right: 7px;
}
/*header css end*/


/*ifo us*/
.info-us {
    max-width: 1200px;
    display: flex;
    margin: -70px auto 0;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
    padding: 30px 0px;
    border-radius: 5px;
    margin-bottom: 106px;
}

.info-us  li {
    
    text-align: center;
    border-right: 1px solid #717171;
    width: 300px;
    padding: 9px 0;
}

.info-us  li:last-child {
    border-right: none;
}

.info-us span {
    color: #262626;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    color: #343434;
}

.info-us p {
    text-transform: capitalize;
    margin-top: 13px;
    font-size: 18px;
    letter-spacing: -0.3px;
    color: #717171;
}
/*ifo us end*/

/*destinations*/


.container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.destinations {
    margin-bottom: 98px;
}

.container__wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 88px;
}

.destinations__title,
.featured__title {
    color: #343435;
    font: 400 30px/28px Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.18px;
    margin-left: 9px;
    margin-bottom: 22px;
}

.destinations__text,
.featured__text {
    color: #717171;
    font: 400 16px/22px "Open Sans", sans-serif;
    letter-spacing: 0.18px;
    margin-bottom: 83px;
}

.destinations__post,
.featured__post {
    margin-bottom: 27px;
    position: relative;
}

.destinations__more,
.featured__button {
    color: #343434;
    font: 700 14px/22px Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.56px;
    padding: 21px 42px 19px;
    border-radius: 5px;
    border: 1px solid rgba(38, 38, 38, 0.3);
}
/*destinations end*/

/*baner*/
.baner {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg-baner.jpg") no-repeat center / cover;
    padding: 172px 0 177px;
    margin-bottom: 97px;
}

.baner__title {
    margin: 0 0 11px 46px;
}

.baner__text {
    letter-spacing: 1.09px;
    margin-left: 1px;
    margin-bottom: 111px;
}

.baner__button {
    color: #fff;
    font: 700 14px/22px Raleway, sans-serif;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #e7434e;
    border: none;
    cursor: pointer;
    padding: 21px 45px 19px;
}
/*baner end*/


/*featured end*/
.featured {
    margin-bottom: 105px;
}

.featured__title {
    margin-left: 0;
}

.featured__text {
    margin-bottom: 93px;
}

.featured__button {
    padding: 21px 48px 19px;
}

.featured .container__wrapp {
    margin-bottom: 115px;
}

/*featured end*/


/*footer*/
.footer {
    color: #fff;
    background-color: #404040;
    border: 6px solid red;
    border-image: url("../img/Slice_1.jpg") 5 round;

    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-bottom: 62px;
}

.footer__wrapp {
    max-width: 1170px;
    margin: 51px auto 0;
    display: flex;
    justify-content: space-between;
}

.footer__block {
    max-width: 159px;
}


.footer__block--title {
    font: 700 14px/22px Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.56px;
    margin-bottom: 12px;
}

.newsletter .footer__block--title  {
    margin-bottom: 19px;
}

.footer__block-text {
    font: 400 14px/34px "Open Sans", sans-serif;
    letter-spacing: 0.56px;
}

.social {
    display: flex;
}

.footer .search {
    max-width: 420px;
}

.footer .search {

    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    color: #717171;
    font: 400 14px/22px Raleway, sans-serif;
}

.footer .search input {
    height: 43px;
    padding: 0 193px 0 22px;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}

.footer .search button {

    letter-spacing: 0.28px;

    width: 148px;
    height: 43px;

}

.block-2 {
    margin-left: 28px;
}

.newsletter {
    margin-left: -8px;
}

.block-4 {
    margin-right: 12px;
}
/*footer end*/

.post__attribute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 5px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 40%);
  
}

.post__attribute--top,
.post__attribute--price {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #e7434e;
    padding: 10px;
    border-radius: 5px;
}

.post__attribute--city,
.post__attribute--model {
    position: absolute;
    bottom: 60px;
    left: 30px;
}

.post__attribute--country,
.post__attribute--location {
    position: absolute;
    bottom: 30px;
    left: 30px;
}