body {
  background: #008ed6;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url("https://s1.1zoom.ru/b5253/469/McLaren_2018_Senna_Gray_background_Light_Blue_542194_3840x2160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas {
  color: #fff;
  background: #008ed6;
  padding: 5px;
  border-radius: 5px;
}

